version: '3.8'

# Docker Compose example for testing AWS S3

networks:
  aws:

services:
  # Configured through environment variables
  config-server-env:
    depends_on:
      - localstack
    container_name: config-server-env
    image: "${REGISTRY:-docker.io}/${IMAGE_NAME:-hyness/spring-cloud-config-server}:${TAG:-latest}"
    networks:
      - aws
    ports:
      - "8881:8888"
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      SPRING_PROFILES_ACTIVE: awsparamstore
      SPRING_CLOUD_CONFIG_SERVER_AWSPARAMSTORE_ENDPOINT: https://localhost.localstack.cloud:4566
      SPRING_CLOUD_CONFIG_SERVER_AWSPARAMSTORE_REGION: us-east-1

  # Configured through mounted config file
  config-server-dir:
    container_name: config-server-dir
    image: "${REGISTRY:-docker.io}/${IMAGE_NAME:-hyness/spring-cloud-config-server}:${TAG:-latest}"
    networks:
      - aws
    ports:
      - "8882:8888"
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    volumes:
      - ./application.yml:/config/application.yml

  # Configured through system properties
  config-server-props:
    container_name: config-server-props
    image: "${REGISTRY:-docker.io}/${IMAGE_NAME:-hyness/spring-cloud-config-server}:${TAG:-latest}"
    networks:
      - aws
    ports:
      - "8883:8888"
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      JAVA_OPTS: >
        -Dspring.profiles.active=awsparamstore
        -Dspring.cloud.config.server.awsparamstore.endpoint=https://localhost.localstack.cloud:4566
        -Dspring.cloud.config.server.awsparamstore.region=us-east-1


  # Configured through command line arguments
  config-server-args:
    container_name: config-server-args
    image: "${REGISTRY:-docker.io}/${IMAGE_NAME:-hyness/spring-cloud-config-server}:${TAG:-latest}"
    networks:
      - aws
    ports:
      - "8884:8888"
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    command:
      - --spring.profiles.active=awsparamstore
      - --spring.cloud.config.server.awsparamstore.endpoint=https://localhost.localstack.cloud:4566
      - --spring.cloud.config.server.awsparamstore.region=us-east-1

  localstack:
    container_name: localstack
    image: localstack/localstack:1.3
    networks:
      aws:
        aliases:
          - localhost.localstack.cloud
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      SERVICES: ssm
      DEBUG: 1
    volumes:
      - ./populate-paramstore.sh:/data/populate-paramstore.sh
